In [1]:
import numpy as np
import pandas as pd

import os
import mysql.connector as sql

# pandas display settings
pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

In [2]:
# configuration
config = {
    'host': 'localhost',
    'user': os.environ.get('DB_USER'),
    'password': os.environ.get('DB_PSWD')
}
# create connection using configuration
conn = sql.connect(**config)
# create cursor object
my_cursor = conn.cursor()

In [3]:
# Helper Functions
def create_db(DB_NAME):
    """Create a MySQL DB"""
    sql_query = f"CREATE SCHEMA IF NOT EXISTS {DB_NAME}"
    my_cursor.execute(sql_query)
    print(f"DB: {DB_NAME} was created \n")    

def create_table(table_name, sql_query):
    """Add a table to the DB"""
    # select DB
    my_cursor.execute(f""" USE {DB_NAME} """)
    # execute the query
    my_cursor.execute(sql_query)
    print(f"Table: {table_name} was created \n")    

def show_tables():
    # check for the tables
    my_cursor.execute('SHOW TABLES')
    # display tables
    for table in my_cursor:
        print(table)
        print()    # new line
        
def insert_into_table(table_name, sql_query, values):
    """Insert values into a table"""
    # add all the rows to the db
    my_cursor.executemany(sql_query, values)
    # commit the changes
    conn.commit()
    print(f"Values inserted into {table_name}")
     
def select_records(sql_query):
    """Select records from a table"""
    my_cursor.execute(sql_query)
    # display records
    for x in my_cursor:
        print(f"{x} \n")
        
def close_conn():
    """Close the connection to the DB"""
    conn.close()
    print(f"Connection to {DB_NAME} has been closed!")

In [4]:
# load the data
table1 = pd.read_csv('./data/Covid_deaths.csv')

table1.head()

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths
0,AFG,Asia,Afghanistan,2/24/2020,38928341.0,1.0,1.0,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,38928341.0,1.0,0.0,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,38928341.0,1.0,0.0,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,38928341.0,1.0,0.0,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,38928341.0,1.0,0.0,NaN,NaN

### Clean the data
* Drop the records with missing continent.
* Replace null values in numerical columns with 0.
* Replace null values in categorical columns with 'NULL'.
* Convert to the appropriate data types

In [5]:
t_1 = table1.copy()

# Drop missing values
t_1 = t_1.dropna(subset=['continent'])

cols = ['population', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths']
# replace missing values with '0'
for col in cols:
    t_1[col] = np.where(pd.isna(t_1[col]) == True, 0, t_1[col])

# replace missing values with 'NULL'
for col in ['iso_code', 'continent', 'location']:
    t_1[col] = np.where(pd.isna(t_1[col]) == True, 'NULL', t_1[col])    
    
# convert to the appropriate data types
for col in cols:
    t_1[col] = t_1[col].apply(lambda x: int(x))  

# convert to datetime
t_1['date'] = pd.to_datetime(t_1['date'])
    

        
# verify    
t_1.head()

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths
0,AFG,Asia,Afghanistan,2020-02-24,38928341,1,1,0,0
1,AFG,Asia,Afghanistan,2020-02-25,38928341,1,0,0,0
2,AFG,Asia,Afghanistan,2020-02-26,38928341,1,0,0,0
3,AFG,Asia,Afghanistan,2020-02-27,38928341,1,0,0,0
4,AFG,Asia,Afghanistan,2020-02-28,38928341,1,0,0,0

### Create Database

In [6]:
DB_NAME = 'covid_eda_db'   # Global Variable

# create DB
try:
    create_db(DB_NAME)
except Exception as e:
    print(e)
    
# create table 1
table_name = 'Covid_deaths'
sql_query = f"""
                CREATE TABLE IF NOT EXISTS {table_name}
                    (
                        ISO_code VARCHAR(100),
                        Continent VARCHAR(100),
                        Country VARCHAR(100),
                        Date DATE,
                        Population INT,
                        Total_cases INT,
                        New_cases INT,
                        Total_deaths INT,
                        New_deaths INT                    
                    )
            """
try:
    create_table(table_name, sql_query)
except Exception as e:
    print(e)
    
#### Populate table
t_1_vals = []    # save the data from table1 in a list

for row in t_1.itertuples():
    val = row[1:]
    t_1_vals.append(val)

sql_query = f"""
                INSERT INTO {table_name}
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
            """
try:
    insert_into_table(table_name, sql_query, t_1_vals)
except Exception as e:
    print(e)

# select records 
sql_query = f"SELECT * FROM {table_name} LIMIT 5"
try:
    select_records(sql_query)
except Exception as e:
    print(e)

DB: covid_eda_db was created

Table: Covid_deaths was created

Values inserted into Covid_deaths
('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 24), 38928341, 1, 1, 0, 0)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 25), 38928341, 1, 0, 0, 0)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 26), 38928341, 1, 0, 0, 0)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 27), 38928341, 1, 0, 0, 0)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 28), 38928341, 1, 0, 0, 0)

In [7]:
# load the data
table2 = pd.read_csv('./data/Covid_Vaccinations.csv')

table2.head()

,iso_code,continent,location,date,new_tests,total_tests,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511

### Clean the data
* Drop the records with missing continent.
* Replace null values in numerical columns with 0.
* Replace null values in categorical columns with 'NULL'.
* Convert to the appropriate data types

In [8]:
t_2 = table2.copy()

# Drop missing values
t_2 = t_2.dropna(subset=['continent'])

cols = ['new_tests', 'total_tests', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
       'new_vaccinations', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita',
       'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index'] 

# replace missing values with '0'
for col in cols:
    t_2[col] = np.where(pd.isna(t_2[col]) == True, 0, t_2[col])

# replace missing values with 'NULL'
for col in ['iso_code', 'continent', 'location']:
    t_2[col] = np.where(pd.isna(t_2[col]) == True, 'NULL', t_2[col])    
    
# convert to the appropriate data types
for col in ['new_tests', 'total_tests', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',]:
    t_2[col] = t_2[col].apply(lambda x: int(x))  

# convert to datetime
t_2['date'] = pd.to_datetime(t_2['date'])
        
# verify    
t_2.head()

,iso_code,continent,location,date,new_tests,total_tests,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,0,0,0.0,0.0,0,0,0,0,0,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,0,0,0.0,0.0,0,0,0,0,0,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,0,0,0.0,0.0,0,0,0,0,0,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,0,0,0.0,0.0,0,0,0,0,0,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,0,0,0.0,0.0,0,0,0,0,0,8.33,54.422,18.6,2.581,1.337,1803.987,37.746,0.5,64.83,0.511

In [9]:
# create table 2
table_name = 'Covid_vaccinations'
sql_query = f"""
                CREATE TABLE IF NOT EXISTS {table_name}
                    (
                        ISO_code VARCHAR(100),	
                        Continent VARCHAR(100),
                        Country VARCHAR(100),
                        Date DATE,
                        New_tests INT,
                        Total_tests	INT,
                        Positive_rate FLOAT,
                        Tests_per_case FLOAT,
                        Tests_units VARCHAR(100),
                        Total_vaccinations INT,
                        People_vaccinated INT,
                        People_fully_vaccinated INT,
                        New_vaccinations INT,
                        Stringency_index FLOAT,	
                        Population_density FLOAT,
                        Median_age FLOAT,
                        Aged_65_older FLOAT,
                        Aged_70_older FLOAT,	
                        GDP_per_capita FLOAT,					
                        Handwashing_facilities FLOAT,
                        Hospital_beds_per_thousand FLOAT,
                        Life_expectancy FLOAT,
                        Human_development_index FLOAT                  
                    )
            """
try:
    create_table(table_name, sql_query)
except Exception as e:
    print(e)
    
### Populate table
t_2_vals = []      # save the data from table1 in a list

for row in t_2.itertuples():
    val = row[1:]
    t_2_vals.append(val)

sql_query = f"""
                INSERT INTO {table_name}
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """
try:
    insert_into_table(table_name, sql_query, t_2_vals)
except Exception as e:
    print(e)

# select records 
sql_query = f"SELECT * FROM {table_name} LIMIT 5"
try:
    select_records(sql_query)
except Exception as e:
    print(e)

# show tables
show_tables()
    
# close the connection
close_conn()

Table: Covid_vaccinations was created

Values inserted into Covid_vaccinations
('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 24), 0, 0, 0.0, 0.0, '0', 0, 0, 0, 0, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.99, 37.746, 0.5, 64.83, 0.511)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 25), 0, 0, 0.0, 0.0, '0', 0, 0, 0, 0, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.99, 37.746, 0.5, 64.83, 0.511)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 26), 0, 0, 0.0, 0.0, '0', 0, 0, 0, 0, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.99, 37.746, 0.5, 64.83, 0.511)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 27), 0, 0, 0.0, 0.0, '0', 0, 0, 0, 0, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.99, 37.746, 0.5, 64.83, 0.511)

('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 28), 0, 0, 0.0, 0.0, '0', 0, 0, 0, 0, 8.33, 54.422, 18.6, 2.581, 1.337, 1803.99, 37.746, 0.5, 64.83, 0.511)

('covid_deaths',)

('covid_vaccinations',)

Connection to covid_eda_db has been closed!